<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-label class="ion-text-center" slot="start"> Movies </ion-label>
    <ion-title>
      <ion-searchbar
        [formControl]="searchControl"
        (ionChange)="onSearchInput()"
      ></ion-searchbar>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="exitApp()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <ion-spinner color="primary"> </ion-spinner>
  </div>
  <ion-virtual-scroll
    *ngIf="!isLoading"
    [items]="movies"
    approxItemHeights="320px"
  >
    <ion-item *virtualItem="let m; let itemBounds = bounds;" lines="inset">
      <ion-label class="ion-text-wrap">{{m.title}}</ion-label>
      <ion-label class="ion-text-wrap">
        <!-- <div [appMovieUrl]="m.partialUrl"></div> -->
        <span *ngFor="let u of getPartialUrlExceptFirst(m.partialUrl)">
          {{u}}
          <ion-text color="secondary">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-text>
        </span>
        {{m.partialUrl[m.partialUrl.length - 1]}}
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
